* {
    box-sizing: border-box;
}

  /* --------------- header --------------- */

  header {
    height: 100%;
    margin: 5px, 5px;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    text-align: center;
    background-color: #2D2E2E;
    border-color: #2D2E2E;
  }

  h1 {
    font-size: 36px;
  }

  /* --------------- navigation p --------------- */

  nav p {
    display: inline-block;
    height: 100%;
    padding: 10px 25px;
    font-weight: bold;
  }

   /* --------------- nav links --------------- */

  nav a:link {
    color: #ffffff;
  }

  nav a:visited {
    color: #F1ADFF;
  }

  nav a:hover {
    color: #82db9d;
  }

  nav a:active {
    color: #CDEFD7;
  }

  /* ------------------ google maps ----------------------- */
  /* source: https://blog.duda.co/responsive-google-maps-for-your-website  */

  .map-responsive{
    overflow:hidden;
    padding-bottom: 60%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

  /* ------------------ center rules ----------------------- */

  .centerText {
    text-align: center;
  }

  .centerImage {
    display: block;
    text-align: center;
    margin: 10px;
    padding: 10px;
  }

  .centerMain {
    margin: auto;
    width: 50%;
    padding: 30px;
  }

  /* ------------------- specific elements ------------------------- */

  body {
    background-color: #DFE0E2 ;
  }

  h2 {
    text-align: center;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
  }

 
/* --------------- contact links --------------- */

    #contact a:link {
    color: #000000;
  }

  #contact a:visited {
    color: #6A0080;
  }

  #contact a:hover {
    color: #004D0D;
  }

  #contact a:active {
    color: #113d00;
  }
    

  /* --------------- footer --------------- */

  footer {
    height: 100%;
    margin: 50px, 10px;
    padding: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    text-align: center;
    background-color: #2D2E2E;
    border-color: #2D2E2E;
  }
