/* --------------- General Styles --------------- */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');

* {
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 110px; /* prevents overlaying of content with nav bar links */
}

@media all and (min-width: 600px) {
  html {
    scroll-padding-top: 70px;
  }
}

body {
  margin: 0;
  background-color: #fff;
}

.darker-background-color {
  background-color: #DFE0E2;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.centerText {
  text-align: center;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.padding-x-5 {
  padding: 0 5px;
}

/* --------------- Typography --------------- */

h1 {
  font-family: "Cormorant Garamond", sans-serif;
}

h2 {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

h3 {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

p {
 font-family: 'Montserrat', sans-serif;
 line-height: 2em;
 margin-bottom: 0;
 font-size: 17px;
}

#introduction p {
  font-size: 17px
}

/* --------------- header --------------- */

header {
  background-color: #2D2E2E;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

header h1 {
  font-size: 56px;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: center;
  color: #fff;  
}

header nav ul {
  display: flex;
  padding-left: 0;
  padding-bottom: 10px;
  list-style-type: none;
}

header nav ul li a {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-decoration: none;
  margin: 0 10px 0;
}

header nav ul li:last-child a {
  margin-right: 0;
}

/* --------------- header - DESKTOP --------------- */


@media all and (min-width: 1000px) {

  header {
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
  }
  
  header h1 {
    font-size: 56px;
    padding: 15px 0;
  }
  
  header nav {
    display: flex;
    align-items: center;
    margin-right: 6px;
  }
}

/* --------------- nav links --------------- */

header nav ul li a:link {
  color: #fff;
}

header nav ul li a:visited {
  color: #fff;
}

header nav ul li a:hover {
  color: #F1ADFF;
}

/* ------------------- social/contact links ------------------------- */

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-links ol {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
  margin-top: 5px;
}

.social-links ol li a {
  margin: 0 5px 0;
  text-decoration: none;
}

div.social-links img:hover{
  transform: scale(1.1);
}

/* ------------------- group and item layout ------------------------- */

section {
  padding: 20px 8px;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin-top: 10px;
}

@media all and (min-width: 600px) {

  #skills, #projects, #contact {
    padding: 10px 50px;
  }

  #introduction div.item, #projects div.item, #contact div.item {
    flex: 1;
    margin: 10px;
  }

}

/* ------------------- introduction/biography ------------------------- */


main img[src='images/professional-headshot.jpg'] {
  border-radius: 50%;
  padding-top: 10px;
  width: 350px;
  height: auto;
}

#introduction {
  margin-top: 130px
}

#picture-name-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#picture-name-title h2, h3 {
  margin: 5px 0 5px;
}

@media all and (min-width: 1000px) {

  #introduction div.group {
    display: flex;
    flex-direction: row;
  } 
  
  section#introduction {
    margin-top: 60px
  }

  #picture-name-title {
    padding-top: 25px;
  }

  #introduction.group {
    display: flex;
    flex-direction: row;
  }

  #introduction div.item-double {
    flex: 2;
  }

}

/* ------------------- skills ------------------------- */

section#skills .group {
  flex-direction: column;
  padding-bottom: 25px;

}

.skills {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
  text-align: center;
  font-family: 'Alegreya SC', serif;
}

.skills div {
  margin-top: 15px;
}

.skills img {
  width: 125px;
  height: auto;
}

@media all and (min-width: 800px) {

  section#skills .group {
  flex-wrap:wrap;
  }

  #skills h2 {
    margin-left: 15px;
  }

  .skills {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }

  .all-skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

}

/* ------------------- projects ------------------------- */

section#projects .item {
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
  margin: 15px 10px;
  padding-bottom: 10px;
}

section#projects .item > img {
  width: 100%;
  height: auto;
}

@media all and (min-width: 600px) {
  
  #projects div.group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  } 

  #projects h2 {
    margin-left: 9px;
  }
  
  }

  @media all and (min-width: 700px) {
  
    section#projects .item {
      flex-basis: 25%;
    }
  }

/* ------------------- contact ------------------------- */

#contact .group {
  display: flex;
  flex-direction: column;
}

@media all and (min-width: 800px) {

  #contact h2 {
    margin-left: 15px;
  }

  form {
    margin: 0 25%;
  }

}

form fieldset {
  border: none;
  margin: 0 -12px;
}

form input, textarea {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  border: 3px #2d2e2e solid;
  font-size: 18px;
}

form input {
  height: 50px;
}

form textarea {
  height: 200px;
}

form button {
  background-color: #2D2E2E;
  margin: 0 auto;
  display: block;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}

form button:hover {
  background-color: #F1ADFF;
  color: #000;
}

form button:active {
  transform: scale(0.96); 
  background-color: #2D2E2E;
  color: #fff;
}

/* ------------------- footer ------------------------- */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  background-color: #2D2E2E;
  color: #fff;
}


/* ------------------- modal styling for project descriptions ------------------------- */

.modal-container {
  margin: 0 auto;
  position: relative;
  width: 30px;
}

.modal-container button {
  display: block;
  margin: 0 auto;
  color: #000;
  width: 100%;
  height: 30px;
  font-size: 22px;
  border: 0;
  border-radius: 3px;
  transition: background 0.3s ease-in;
}

.modal-container .modal-backdrop {
  height: 0;
  width: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.2s ease-in;
}

.modal-container #modal-toggle-1,
.modal-container #modal-toggle-2,
.modal-container #modal-toggle-3,
.modal-container #modal-toggle-4,
.modal-container #modal-toggle-5,
.modal-container #modal-toggle-6
{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.modal-container #modal-toggle-1:hover ~ button,
.modal-container #modal-toggle-2:hover ~ button,
.modal-container #modal-toggle-3:hover ~ button,
.modal-container #modal-toggle-4:hover ~ button,
.modal-container #modal-toggle-5:hover ~ button,
.modal-container #modal-toggle-6:hover ~ button
{ 
  background: #F1ADFF;
}

.modal-container #modal-toggle-1:checked,
.modal-container #modal-toggle-2:checked,
.modal-container #modal-toggle-3:checked,
.modal-container #modal-toggle-4:checked,
.modal-container #modal-toggle-5:checked,
.modal-container #modal-toggle-6:checked
{
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  opacity: 0;
}

.modal-container #modal-toggle-1:checked ~ .modal-backdrop,
.modal-container #modal-toggle-2:checked ~ .modal-backdrop,
.modal-container #modal-toggle-3:checked ~ .modal-backdrop,
.modal-container #modal-toggle-4:checked ~ .modal-backdrop,
.modal-container #modal-toggle-5:checked ~ .modal-backdrop,
.modal-container #modal-toggle-6:checked ~ .modal-backdrop
{
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  pointer-events: none;
  opacity: 1;
}

.modal-container #modal-toggle-1:checked ~ .modal-backdrop .modal-content,
.modal-container #modal-toggle-2:checked ~ .modal-backdrop .modal-content,
.modal-container #modal-toggle-3:checked ~ .modal-backdrop .modal-content,
.modal-container #modal-toggle-4:checked ~ .modal-backdrop .modal-content,
.modal-container #modal-toggle-5:checked ~ .modal-backdrop .modal-content,
.modal-container #modal-toggle-6:checked ~ .modal-backdrop .modal-content
{
  background-color: #fff;
  max-width: 400px;
  width: 100%;
  height: auto;
  padding: 10px 55px;
  position: absolute;
  left: calc(50% - 208px);
  top: 12%;
  border-radius: 4px;
  z-index: 999;
  pointer-events: auto;
  cursor: auto;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
}

@media (max-width: 400px) {

  .modal-container #modal-toggle-1:checked ~ .modal-backdrop .modal-content, 
  .modal-container #modal-toggle-2:checked ~ .modal-backdrop .modal-content,
  .modal-container #modal-toggle-3:checked ~ .modal-backdrop .modal-content,
  .modal-container #modal-toggle-4:checked ~ .modal-backdrop .modal-content,
  .modal-container #modal-toggle-5:checked ~ .modal-backdrop .modal-content,
  .modal-container #modal-toggle-6:checked ~ .modal-backdrop .modal-content
  { left: 0; }
}

.modal-container #modal-toggle-1:checked ~ .modal-backdrop .modal-content .modal-close,
.modal-container #modal-toggle-2:checked ~ .modal-backdrop .modal-content .modal-close,
.modal-container #modal-toggle-3:checked ~ .modal-backdrop .modal-content .modal-close,
.modal-container #modal-toggle-4:checked ~ .modal-backdrop .modal-content .modal-close,
.modal-container #modal-toggle-5:checked ~ .modal-backdrop .modal-content .modal-close,
.modal-container #modal-toggle-6:checked ~ .modal-backdrop .modal-content .modal-close
{
  color: #000;
  position: absolute;
  right: 2px;
  top: 0;
  padding-top: 7px;
  background: #fff;
  font-size: 16px;
  width: 25px;
  height: 28px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.modal-container #modal-toggle-1:checked ~ .modal-backdrop .modal-content .modal-close.button,
.modal-container #modal-toggle-2:checked ~ .modal-backdrop .modal-content .modal-close.button,
.modal-container #modal-toggle-3:checked ~ .modal-backdrop .modal-content .modal-close.button,
.modal-container #modal-toggle-4:checked ~ .modal-backdrop .modal-content .modal-close.button,
.modal-container #modal-toggle-5:checked ~ .modal-backdrop .modal-content .modal-close.button,
.modal-container #modal-toggle-6:checked ~ .modal-backdrop .modal-content .modal-close.button
{
  top: initial;
  bottom: 10px;
  right: 10px;
  background: #2D2E2E;
  color: #fff;
  width: auto;
  padding: 7px 10px 0;
  border-radius: 7px;
  font-size: 14px;
  font-weight: normal;
}

.modal-container #modal-toggle-1:checked ~ .modal-backdrop .modal-content .modal-close.button:hover,
.modal-container #modal-toggle-2:checked ~ .modal-backdrop .modal-content .modal-close.button:hover,
.modal-container #modal-toggle-3:checked ~ .modal-backdrop .modal-content .modal-close.button:hover,
.modal-container #modal-toggle-4:checked ~ .modal-backdrop .modal-content .modal-close.button:hover,
.modal-container #modal-toggle-5:checked ~ .modal-backdrop .modal-content .modal-close.button:hover,
.modal-container #modal-toggle-6:checked ~ .modal-backdrop .modal-content .modal-close.button:hover
{
  color: #000;
  background: #F1ADFF;
}

.modal-container #modal-toggle-1:checked ~ .modal-backdrop .modal-content .modal-close:hover,
.modal-container #modal-toggle-2:checked ~ .modal-backdrop .modal-content .modal-close:hover,
.modal-container #modal-toggle-3:checked ~ .modal-backdrop .modal-content .modal-close:hover,
.modal-container #modal-toggle-4:checked ~ .modal-backdrop .modal-content .modal-close:hover,
.modal-container #modal-toggle-5:checked ~ .modal-backdrop .modal-content .modal-close:hover,
.modal-container #modal-toggle-6:checked ~ .modal-backdrop .modal-content .modal-close:hover
{ color: #333; }