/* --------------- General Styles --------------- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');

* {
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #fff ;
}

.darker-background-color {
  background-color: #DFE0E2;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.centerText {
  text-align: center;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* --------------- Typography --------------- */

h1 {
  font-size: 28px;
  font-family: 'Orbitron', sans-serif;
}

h2 {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

h3 {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

p {
 font-family: 'Montserrat', sans-serif;
 line-height: 2em;
 margin-bottom: 0;
}

/* --------------- header --------------- */

header {
  background-color: #2D2E2E;
}

header h1 {
  font-size: 60px;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  padding-left: 0;
  padding-bottom: 10px;
  list-style-type: none;
}

header nav ul li a {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-decoration: none;
  margin: 0 10px 0;
}

header nav ul li:last-child a {
  margin-right: 0;
}

/* --------------- header - DESKTOP --------------- */


@media all and (min-width: 600px) {

  header {
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
  }
  
  header h1 {
    font-size: 48px;
    padding: 15px 0;
  }
  
  header nav {
    display: flex;
    align-items: center;
    margin-right: 6px;
  }
}

/* --------------- nav links --------------- */

header nav ul li a:link {
  color: #ffffff;
}

header nav ul li a:visited {
  color: #F1ADFF;
}

header nav ul li a:hover {
  color: #82db9d;
}

header nav ul li a:active {
  color: #CDEFD7;
}

/* ------------------- social/contact links ------------------------- */

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-links ol {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
  margin-top: 5px;
}

.social-links ol li a {
  margin: 0 5px 0;
  text-decoration: none;
}

div.social-links img:hover{
  transform: scale(1.1);
}

/* ------------------- hobbies ------------------------- */

.hobbies {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
  text-align: center;
  font-family: 'Alegreya SC', serif;
}

.hobbies div {
  margin-top: 15px;
}

.hobbies img {
  width: 100px;
  height: auto;
}

/* ------------------- main ------------------------- */

section {
  padding: 20px 8px;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin-top: 10px;
  padding: 5px;
}

main img[src='images/my-photo.JPG'] {
  border-radius: 50%;
  padding-top: 10px;
  width: 350px;
  height: auto;
}

#picture-name-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#picture-name-title h2, h3 {
  margin: 5px 0 5px;
}

section#about .group {
  flex-direction: column;
}

section#portfolio .item {
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

section#portfolio .item > img {
  width: 100%;
}

section#portfolio .item:hover {
  background-color: #F1ADFF;
}


/* ------------------- main - DESKTOP ------------------------- */

@media all and (min-width: 600px) {

  
  section {
    padding: 10px 50px;
  }

  #about h2, #portfolio h2, #contact h2 {
    margin-left: 15px;
  }

  .group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .item {
    flex: 1;
    margin: 10px;
  }

  .item-double {
    flex: 2;
  }

  section#portfolio .item {
    flex-basis: 30%;
  }

  .all-hobbies {
    display: flex;
    flex-direction: row;
  }
 
  .hobbies {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }

}

/* ------------------- contact form ------------------------- */

form fieldset {
  border: none;
  margin: 0 -12px;
}

form input, textarea {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}

form textarea {
  height: 160px;
}

button {
  background-color: #2D2E2E;
  margin: 0 auto 15px;
  display: block;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

button:hover {
  background-color: #F1ADFF;
  color: #000;
}

button:active {
  transform: scale(0.96); 
  background-color: #2D2E2E;
  color: #fff;
  box-shadow: 3px 2px 10px 1px #000; 
  text-transform: uppercase;
}

.map {
  width: 100%;
  height: 400px;
}


/* ------------------- footer ------------------------- */

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: #2D2E2E;
    color: #fff;
  }
